/* app.css */
.header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap : 10px
}

.claude {
  width: 50px;
  height: 50px;
}

.claude-title {
  font-size: 24px;
  font-weight: bold;
}
