#root {
  height: 100%; 

}
body{
  height: 100vh;
  margin: 0;
}
.container{
  background-color: white;
  width: 100%;
  display: flex;
  height: 100%;
}

.sideBar{
  width: 10%;
  height: 100%;
  border: 1px black;
  padding: 5px;
}

.main{
  width: 50%;
  height: 100%;
  border: 1px solid black;
  padding: 10px;
}

.template{
  width: 40%;
  height: 100%;
  padding: 10px;
}

.buttons{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

legend {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
  display: flex;
  flex-direction: column;
}

input[type="text"], input[type="email"], input[type="tel"], input[type="date"], textarea {
  font-size: 14px;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
  border-color: #007BFF;
}

textarea {
  resize: vertical;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

form h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
  color: #555;
}

form:last-child {
  margin-bottom: 40px; 
}

fieldset {
  border: 1px solid #ccc;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
}

.cv-container {
  width: 80%;
  max-width: 800px;
  margin: 20px auto;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.cv-section {
  margin-bottom: 10px;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.cv-section:last-child {
  border-bottom: none;
}

.cv-section h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #0056b3;
}

.cv-section p {
  margin: 5px 0;
}

.cv-section strong {
  color: #222;
}

.education-item, .experience-item, .award-item {
  margin-bottom: 10px;
}

.award-item p:last-child, .experience-item p:last-child, .education-item p:last-child {
  margin-bottom: 0;
}